# =============== #
# Unity generated #
# =============== #
*[Tt]emp/
*[Uu]nityGenerated/
[Ll]ibrary/
!*glitchlibrary/
!*ExcelLibrary/
*[Bb]uilds/
*[Bb]uild/
*[Bb]in/
*[Tt]empBuild/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
.vs/
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# Builds	   #
# ============ #
*.apk
#*.exe
*.app
*.ipa

# ============ #
# Houdini	   #
# ============ #
*Houdini/backup/

# keep .dll's for libraries

!**/Assets/**/*.dll

AudioPlugin_*
dev/okgovr-prototypes/obj

# vim
*.sw*
*.un~
*~

*.db
*.opendb
okgoaudio/Plugin/VisualStudio/x64/
dev/okgovr-prototypes/.vscode/launch.json
dev/okgovr-prototypes_CLONE/
dev/speech/Cognitive-Speech-STT-Windows-master/

!Icons/
*.asd
dev/audio/pd-guitar-chords/audio/New/New_Acoustic_Mutes_.wav
dev/audio/pd-guitar-chords/audio/New/New_Acoustic_OneHits_.wav
dev/audio/pd-guitar-chords/audio/New/New_Acoustic_Strums_.wav
dev/okgovr-prototypes/Assets/FlipbookGames/
tests/lovebird-tests/
tests/lightmap-switching-tool-master/lightmap-switching-tool-master/.gitignore
tests/lightmap-switching-tool-master/
dev/bootstrap/lambchild-bootstrap/lambchild-bootstrap/obj/
misc/Photon-OnPremise-Server-SDK_v4-0-29-11263/

!dev/bootstrap/**/*.*
dev/bootstrap/lambchild-bootstrap/lambchild-bootstrap/packages/
Portaudio-examples/Debug/
Debug/
